* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed; /* Tetapkan posisi sidebar tetap */
    top: 0;
    left: 0;
    height: 100vh; /* Tinggi penuh viewport */
    width: 80px; /* Lebar awal */
    background-color: #2D2D2D;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 1000; /* Pastikan di atas elemen lain */
    text-wrap: nowrap;
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn_menu {
    position: absolute;
    color: #fff;
    top: 0;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn_menu {
    left: 90%;
}

.sidebar .logo {
    display: flex;
    /* height: 50px; */
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .logo {
    opacity: 1;
    margin-top: 12px;
}

.sidebar .kategori {
    font-family: "Quicksand", serif;
    font-weight: 300;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 5px;
    text-wrap: nowrap;
}

.content-sidebar {
    margin-top: 30px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    font-family: "Quicksand", serif;
    font-weight: 900;
}

.sidebar ul li a:hover {
    color: #34C759;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem #34C759;
    background-color: #2D2D2D;
    color: #34C759;
    font-family: "Quicksand", serif;
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: #1E1E1E;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.sidebar.active + .main-content {
    left: 250px;
    width: calc(100% - 250px); /* Kurangi lebar sidebar dari lebar total */
}

.sidebar ul li.active a {
    color: #34C759; /* Warna hijau untuk text */
}

.sidebar ul li.active a i {
    color: #34C759; /* Warna hijau untuk ikon */
}

.dropdown-btn{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: "Quicksand", serif;
    font-weight: 300;
    font-size: 16px;
}

.dropdown-btn span{
    flex-grow: 1;
    margin-left: 18px;
}

.sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div{
      overflow: hidden;
    }
}

.sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

.dropdown-btn svg{
    transition: 200ms ease;
}

.rotate svg:last-child{
    rotate: 180deg;
}

/* Untuk jarak isi dari category */
.sub-menu a {
    padding: 8px 8px; /* Adjust the padding values as needed */
    margin: 0px 0; /* Adjust this value as needed */
}

/* Menonaktifkan tombol Category saat sidebar tertutup */
.sidebar.close .dropdown-btn {
    pointer-events: none; /* Nonaktifkan interaksi */
    opacity: 0.5; /* Kurangi opacity untuk menandakan bahwa tombol dinonaktifkan */
}

